body{
    background-color: rgb(18, 15, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pr-box{
    background: linear-gradient(rgb(247, 247, 247),rgb(104, 188, 244));
    border:1px solid black;
    border-radius: 30px;
    width: 400px;
    height: 400px;
}
#form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 15px;
}
input{
    color: rgb(119, 119, 119);
    border-radius: 30px;

}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
dl{
    color: white;
}
h3{
    color: white;
}