@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: hsl(148, 38%, 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

#reg {
    width: 100%; 
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 20px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin: 20px 0px 0px 40px;
    font-size: 25px;
    color: #5f6368;
}

form {
    margin: 10px 40px 40px 40px;
    display: grid;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-field {
    display: grid;
    gap: 8px;
    margin-bottom: 24px;
}

label {
    font-weight: 500;
    color: #5f6368;
    font-family: "Karla", sans-serif;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Karla", sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #0d9488;
}

.radio-label {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.radio-label:hover {
    border-color: #0d9488;
    background: #f0fdfa;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
}

.checkbox-label input {
    width: 20px;
    height: 20px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 16px;
    background: #0d9488;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Karla", sans-serif;
}

button:hover {
    background: #0f766e;
    transform: scale(1.1)
}

/* Responsive */
@media (max-width: 640px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    
    form {
        margin: 10px 20px 20px 20px;
    }
    h1 {
        margin: 20px 0px 0px 20px;
        font-size: 22px;
    }
    
    #reg {
        height: auto;
    }
}
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background:  #0d9488;
    color: white;
    padding: 20px 24px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
}
@media (min-width: 641px) and (max-width: 1024px) {
    #reg {
        max-width: 700px;
    }
}