@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
#card{
    width: 200px;
    height: 310px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    margin: 5px 68px 0px 68px;
    border-radius: 40px;
    transition: all 0.3s;
}
h4{
    margin: 3px 0px 0px 0px;
    font-family: "Oswald", sans-serif;
    font-size: auto;
    font-weight: 450;
    font-style: normal;
    color: white;
}
#p1{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:8px;
    margin: 0;
    color:hsl(75, 94%, 57%);
}
#p2{
    font-family: "Oswald", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size:10px;
    margin: 3px;
    color: hsl(0, 0%, 58%);
}
button{
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    border: none;
    margin: 4px;
    width: 155px;
    height: 25px;
    font-size: 10px;
    color: white;
    transition: all 0.3s;
}
button:hover{
    background-color:hsl(75, 94%, 57%);
    transform: scale(1.1);
}
img:hover{
    transform:scale(1.1);
}