
.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas: 'box-1 box-2 box-2 box-3'
    'box-1 box-4 box-5 box-5';
    gap: 10px;
}
.box{
    border: 1px solid;
}
@media(max-width:56em) {
    .container{
        grid-template-areas: 'box-1 box-1 box-2''box-1 box-1 box-3' 'box-4 box-5 box-5';
    }
}
@media(max-width:42em){
    .container{
        grid-template-areas: 'box-1 box-2' 'box-3 box-2' 'box-3 box-4' 'box-4 box-5';
    }
}