body{
    background-image: url(bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#carousel {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}