body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header1 {
    width: 100%;
    position: fixed;
    box-shadow: 0 6px 6px rgb(11, 165, 32);
    background-color: black;
}
#header2 {
    box-shadow: 0 6px 6px rgb(11, 165, 32);
}

#header3 {
    width: 100%;
    text-align: center;
    background-color: black;
    box-shadow: 0 6px 6px rgb(11, 165, 32);
}
.header4 {
    width: 100%;
    position: fixed;
    box-shadow: 0 6px 6px rgb(79, 4, 4);
    background-color: black;
}
.hlogo { 
    border-radius:20px;
}
nav {
     padding: 10px;
     display: flex;
     align-items: center;
}

ul {
    list-style:none;
    display:flex;
    gap:30px;
    margin-left:auto;
    padding:50px;
    align-items: center;
}

.navitems1 {
    text-decoration:none;
    font-size:25px;
    color:rgb(11, 165, 32);
    font-family:'Courier New', Courier, monospace;
    text-shadow:0 3px 3px rgb(255, 255, 255);
}
.navitems2 {
    text-decoration:none;
    font-size:25px;
    color:rgb(195, 0, 0);
    font-family:'Courier New', Courier, monospace;
    text-shadow:0 3px 3px rgb(255, 255, 255);
}
.title1 {
    font-size: 70px;
   
}

#main1 {
    width: 100%;
    padding-top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main4 {
    padding-top: 170px;
}

.div1 {
    background-color: rgb(209, 209, 209);
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    gap: 2px;
    box-shadow: 0 9px 9px rgb(2, 32, 7);
}
#ol {
    font-size: 25px;
}
.title2 {
    color: rgb(0, 0, 0);
    font-size: 60px;

} 
.title3 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    
}
.title4 {
    margin: 0;
    font-size: 70px;
    
    color: whitesmoke;
}
.title5 {
    background-color: lightgray;
    font-size: 40px;
    
    text-align: right;
}
.title6 {
    color: green;
    font-size: 65px;
    
}
.title7 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0 7px 7px rgb(8, 44, 8); 
}
.title8 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0 7px 7px rgb(44, 8, 8); 
}
.btn1 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
}
.tbl1 {
    background-color: rgb(0, 9, 2);
    width: 100%;
}
.btn2 {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    color: rgb(2, 32, 7);
}
.tbl2 {
    background: linear-gradient(rgb(14, 86, 14),black);
}
.tbl3 {
    font-size: 30px;
    background: linear-gradient(rgb(1, 102, 1),rgb(220, 220, 220));
}
.imgs {
    border-radius: 30px;
} 
.p1 {
    color: ivory;
    font-size: 30px;
    text-align: center;
}
.p2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 0 6px 6px rgb(209, 209, 209);
    font-weight: bold;
}
.td1 {
  padding: 20px;
}
.div2 {
    background-color:black;
    padding: 30px;
}

#form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mma-about {
    font-size: 30px;
    text-align: center;
    text-shadow: 0 7px 7px rgb(44, 8, 8); 
}
#location-mma {
    font-size: 30px;
    text-shadow: 0 6px 6px rgb(85, 19, 19);
    color: rgb(200, 193, 193);
    border: 0;
}
#pg-about {
    font-size: 30px;
    text-align: center;
    text-shadow: 0 7px 7px rgb(11, 165, 32); 
}
#location-pg {
    font-size: 30px;
    text-shadow: 0 6px 6px rgb(11, 165, 32);
    color: rgb(200, 193, 193);
    border: 0;
}

#mma_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#mma_signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pg_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pg_signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}