body{
    background-color: rgb(249, 233, 251);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
#twitter{
    padding-top: 20px;
    border: 1px solid black;
    width: 160px;
    height: 170px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
#ig{
    padding-top: 20px;
    border: 1px solid black;
    width: 160px;
    height: 170px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
#youtube{
    padding-top: 20px;
    border: 1px solid black;
    width: 160px;
    height: 170px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
button{
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    padding: 6px;
    width: 140px;
    font-size: 10px;
    cursor: pointer;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}

