body{
    margin: 0;
}
header{
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    color: white;
    height: 25px;
}

ul{
    font-size: 10px;
    display: flex;
    gap: 20px;
    list-style: none;
    color: rgb(172, 172, 172);
}
button{
    height: 20px;
    background-color: rgb(21, 127, 127);
    font-size: 8px;
    color: rgb(209, 208, 208);
    border: none;
    border-radius: 15px;
    margin-right:30px;
    margin-top: 5.5px;
    width: 60px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:7.5px;
}
