@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin:0;
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#rate{
    position: relative;
    width: 200px;
    padding: 25px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
}

#star {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 15px;
    height: 15px;
    padding: 8px;
    background-color: hsl(213, 19%, 25%);
    border-radius: 50%;
}

h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;

}
p{
    font-size: 12px;
    color: hsl(217, 12%, 63%);
    margin-bottom: 10px;
}

#numbers{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 5px;
}
h4{
    background-color: hsl(213, 19%, 25%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
h4:hover{
    transform: scale(1.1);
}
button{
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 15px;
    align-content: center;
    width: 195px;
    height: 25px;
}
button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

h4:focus{
    outline: 2px solid hsl(25, 97%, 53%);
    outline-offset: 2px;
}
h4.selected{
    background-color: hsl(217, 12%, 63%);
    color: white;
}

#thank-you{
    text-align: center;
    position: relative;
    width: 200px;
    height: 220px;
    padding: 25px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
}

#thank-you img{
    margin: 10px auto;
    display: block;
}

#selected-rating{
    background-color: hsl(213, 19%, 25%);
    color: hsl(25, 97%, 53%);
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    margin: 15px 0; 
    font-size: 12px; 
}
#thank-you h2{
    margin-top: 3px;
}
