body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greet {
    background-color: rgb(103, 14, 14);
    color: white;
} 
.h1 {
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgreen;
    text-align: center;
}